.bg-hover:hover{
    background-color: #007bff;
}
.w-30{
    width: 30%;
}
.block-warning{
    background-color: #ffc107;
    color: black;
    text-decoration: none;
    padding: 6px;
    border-radius: 10px;
    transition: .15s ease-out;
}
.block-warning:hover{
    color: black;
    background-color: #f3bc18;
}
@keyframes logo-animate {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(5deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.logo-animate:hover{
    animation: logo-animate .7s;
    cursor: pointer;
}
.img-animate{
    transition: .5s ease;
}
.img-animate:hover{
    cursor: pointer;
    transform: scale(1.02);
}
.custom-size{
    height: auto;
    width: 35%;
}