{% extends 'app/base.html' %}
{% load static %}
    {% block title %}O Mnie{% endblock %}
    {% block main-content %}
        <h1 class="text-center fw-bold my-5"><i class="fa-solid fa-clipboard me-3 text-primary"></i>O Mnie</h1>
        <div class="d-flex justify-content-center align-items-center p-5 my-5">
            <img src="{% static 'app/images/time_is_money.png' %}" alt="Time is money" class="rounded-5 img-animate custom-size">
            <div class="text-center w-50 ms-5">
                <h2 class="mb-3">Kim w ogóle jestem?</h2>
                <p class="fs-4">Nazywam się <strong>Nikita</strong> pochodzę z Ukrainy. Mam <strong>17 lat</strong>. Mieszkam w Polsce już więcej niż <strong>5 lat</strong>. Uczę się na technika programista. Mam doświadczenie z programowaniem już <strong>3 lata</strong></p>
            </div>
        </div>
        <hr class="w-75 mx-auto">
        <div class="d-flex justify-content-center align-items-center p-5 my-5">
            <div class="text-center w-50 me-5">
                <h2 class="mb-3">Kwalifikacja zawodowa</h2>
                <p class="fs-4">Otrzymałem <strong>certyfikat kwalifikacji</strong> zawodowej INF.03. Tworzenie i administrowanie stronami i aplikacjami internetowymi oraz bazami danych. <strong>Zdałem na 94%</strong></p>
            </div>
            <img src="{% static 'app/images/certyfikat.png' %}" alt="My certificate" class="rounded-5 img-animate custom-size">
        </div>
        <hr class="w-75 mx-auto">
        <div class="d-flex justify-content-center align-items-center p-5 my-5">
            <img src="{% static 'app/images/portfolio.jpg' %}" alt="Portfolio" class="rounded-5 img-animate w-50">
            <div class="text-center w-50 ms-5">
                <h2 class="mb-3">Portfolio</h2>
                <p class="fs-4">Żeby udowodnić, że naprawdę <strong>umiem programować</strong> i <strong>mogę uczyć ciebie</strong>, mam swoje <strong>portfolio</strong>, które ma w sobie różne programy ale większość programów jest to <strong>strony internetowe</strong>. Skupiałem się bardziej na back-end'zie lecz też mam pracy związane z front-end'em</p>
                <a href="https://github.com/SAMAKAKI?tab=repositories" target="_blank" class="btn btn-primary mt-3 fs-5">Wszystkie pracy</a>
            </div>
        </div>
        <hr class="w-75 mx-auto">
        <div class="d-flex justify-content-center align-items-center p-5 my-5">
            <div class="text-center w-50 me-5">
                <h2 class="mb-3">Kontakt ze mną</h2>
                <p class="fs-4">Można ze mną się skontaktować przez Messenger, Telegram, Instagram, WhatsApp i Email. Szczegóły można się dowiedzieć <a href="{% url 'contact-me' %}" class="block-warning">tutaj</a></p>
            </div>
            <img src="{% static 'app/images/contact_me.png' %}" alt="Contact me" class="rounded-5 img-animate w-50">
        </div>
    {% endblock %}