{% extends 'app/base.html' %}
{% load static %}
    {% block title %}Informacje Dodatkowe{% endblock %}
    {% block main-content %}
        <h1 class="text-center fw-bold my-5"><i class="fa-solid fa-circle-info me-3 text-primary"></i>Informacje Dodatkowe</h1>
        <div class="d-flex justify-content-center align-items-center p-5 my-5">
            <img src="{% static 'app/images/time_is_money.png' %}" alt="Time is money" class="rounded-5 img-animate custom-size">
            <div class="text-center w-50 ms-5">
                <h2 class="mb-3">Ile kosztuje i ile trwa zajęcie?</h2>
                <p class="fs-4">Jedno zajęcie kosztuje  <strong>40 złoty</strong>. Jest to <strong>dojść mała cena</strong> dla zajęcia, które trwa <strong>2 godziny</strong></p>
            </div>
        </div>
        <hr class="w-75 mx-auto">
        <div class="d-flex justify-content-center align-items-center p-5 my-5">
            <div class="text-center w-50 me-5">
                <h2 class="mb-3">Jak dołączyć do zajęć?</h2>
                <p class="fs-4">Żeby dołączyć do zajęć trzeba się zarejestrować, potem w menu nacisnąć "Grupy" i wybrać grupę, w której chcesz uczęstniczyć. Grupy są podzieleni na różne godziny. Jeżeli jakaś godzina nie jest wygodna dla uczęszczenia na zajęcia można zmienić grupę na inną. Lecz jeżeli wszystkie grupy są zajęte to trzeba pozostać w wybranej</p>
            </div>
            <img src="{% static 'app/images/connecting_to_group.jpg' %}" alt="Connecting To Group" class="rounded-5 img-animate custom-size w-50">
        </div>
        <hr class="w-75 mx-auto">
        <div class="d-flex justify-content-center align-items-center p-5 my-5">
            <img src="{% static 'app/images/presentation.jpg' %}" alt="Presentation" class="rounded-5 img-animate custom-size w-50">
            <div class="text-center w-50 ms-5">
                <h2 class="mb-3">Co robić jeżeli mnie nie było na zajęciu?</h2>
                <p class="fs-4">Nie musisz się martwić o tym bo jest dołączona prezentacja/plik formatu pdf, którą możesz otworzyć i przeczytać jeżeli ciebie nie było lub powtórzyć materiał</p>
            </div>
        </div>
        <hr class="w-75 mx-auto">
        <div class="d-flex justify-content-center align-items-center p-5 my-5">
            <div class="text-center w-50 me-5">
                <h2 class="mb-3">Co robić jeżeli ja nie zrozumiałem/am materiał?</h2>
                <p class="fs-4">Jest szybka odpowiedź na to pytanie. Na początku każdego zajęcia jest przypomnienie poprzedniego zajęcia jednak jeżeli całkowicie nie rozumiesz materiał jest  <strong>inny rodzaj</strong> zajęć dodatkowych. Są to zajęcia  <strong>1 godzinowe</strong> ale już tylko ty jesteś w grupie i koszt tego zajęcia stanowi  <strong>50 zł</strong></p>
            </div>
            <img src="{% static 'app/images/Face-to-face.png' %}" alt="Face To Face" class="rounded-5 img-animate custom-size w-50">
        </div>
        <hr class="w-75 mx-auto">
        <div class="d-flex justify-content-center align-items-center p-5 my-5">
            <img src="{% static 'app/images/google_meet.jpg' %}" alt="Google Meet" class="rounded-5 img-animate custom-size w-50">
            <div class="text-center w-50 ms-5">
                <h2 class="mb-3">Gdzie odbywają się zajęcia?</h2>
                <p class="fs-4">Zajęcia odbywają się na  <strong>Google Meet</strong>. Każdy raz jak będą się rozpoczynać zajęcia z jakąś grupą pojawi się link do zajęcia.</p>
            </div>
        </div>
    {% endblock %}