{% extends 'app/base.html' %}
{% load static %}
    {% block title %}Home{% endblock %}
    {% block main-content %}
        <div class="text-center my-5">
            <img src="{% static 'app/images/logo.png' %}" alt="SAMAKAKI" class="logo-animate" width="400" height="auto">
            <h1 class="fw-bold mt-4 w-50 mx-auto">To jest nowy serwis zajęć dodatkowych z programowania!</h1>
            <div class="d-flex flex-nowrap justify-content-around my-5 align-items-center p-5">
                <img src="{% static 'app/images/code.jpg' %}" alt="Code" class="w-50 rounded-5 me-5 img-animate">
                <p class="fs-4 w-50 mx-auto">Jeżeli chesz nauczyć się programować różne aplikacje webowe (strony internetowe), aplikacje mobilne lub dekstopowe albo znaleść sobie pasję w życiu, to ta strona jest jak najbardziej dla <strong>ciebie</strong>. Są to dodatkowe <strong>zajęcia 10+</strong></p>
            </div>
            <hr class="w-75 mx-auto">
            <h2 class="pt-5">Co to za zajęcia i czego się nauczę?</h2>
            <div class="d-flex flex-nowrap justify-content-around my-5 align-items-center p-5">
                <p class="fs-4 w-50 mx-auto">Są to najbardziej zadawane pytania. Ale odpowiedź jest krótka, są to dodatkowe zajęcia, które są w grupach, grupa składa się z 6 osób (5 uczniów i mnie). Jeżeli chcesz poznać mnie lepiej to zapraszam <a href="{% url 'about-me' %}" class="block-warning">tutaj</a>. Teraz szybko o tym czego nauczysz się, są to 5 języków programowania: <strong>Python</strong>, <strong>HTML</strong>, <strong>CSS</strong>, <strong>SQL</strong>, <strong>JavaScript</strong></p>
                <img src="{% static 'app/images/programing_in_group.jpg' %}" alt="Code" class="w-50 rounded-5 ms-5 img-animate">
            </div>
            <hr class="w-75 mx-auto">
            <h2 class="pt-5">Języki programowania, co do czego?</h2>
            <p class="my-5 fs-4 w-75 mx-auto">Jeżeli jeszcze nie zwróciłeś swoją uwagę na te języki albo jeżeli nie znasz ich to już tłumaczę. Są to języki zwłaszcza dla <strong>aplikacji webowych</strong> ale teraz masz pytanie dlaczego tylko dla robienia stron internetowych jeżeli na początku powiedziałem, że nauczę jeszcze robienie aplikacji mobilnych i dekstopowych. Już mówię, ja nauczę głównego języka z tych wszystkich języków czyli <strong>Python</strong>. <strong>Ja dam główną wiedzę z tego języka</strong> jeżeli nie chcesz uczyć się robienia stron internetowych to chociaż miałeś już wiedzę do uczenia się samemu tego czego chcesz!</p>
            <p class="mb-5 fs-4 w-75 mx-auto">W programowaniu aplikacji internetowych zwłaszcza dzielimy te 5 języków na dwa typy <strong>Back-end'owe</strong> i <strong>Front-end'owe</strong>. Python (jest głównym językiem w tym wszystkim) i SQL odnoszą się do Back-end. Wszystkie pozostałe języki, czyli HTML, CSS i JavaScript są językami Front-end</p>
        </div>
        <div class="d-flex flex-nowrap justify-content-around mx-auto align-items-top my-5">
            <div class="back-end">
                <div class="d-flex align-items-center justify-content-center">
                    <img src="{% static 'app/images/back-end.png' %}" alt="Back-End" width="100" height="auto">
                    <h3 class="fw-bold ms-4">Back-End</h3>
                </div>
                <img src="{% static 'app/images/code-back-end.png' %}" alt="Screenshot back-end code" width="auto" height="400" class="rounded-5 my-5 img-animate">
            </div>
            <div class="front-end">
                <div class="d-flex align-items-center justify-content-center">
                    <img src="{% static 'app/images/front-end.png' %}" alt="Front-End" width="100" height="auto">
                    <h3 class="fw-bold ms-4">Front-End</h3>
                </div>
                <img src="{% static 'app/images/code-front-end.png' %}" alt="Screenshot front-end code" width="auto" height="400" class="rounded-5 my-5 img-animate">
            </div>
        </div>
        <hr class="w-75 mx-auto">
        <div class="text-center">
            <h2 class="pt-5">Jaka jest cena? Co zrobić żeby dołączyć do zajęć? ...</h2>
            <div class="d-flex flex-nowrap justify-content-around align-items-center p-5">
                <img src="{% static 'app/images/more-info.png' %}" alt="More information" class="w-50 me-5 img-animate">
                <p class="fs-4 w-50 mx-auto">Jeżeli zainteresowało i chcesz dowiedzieć się o cenie, jak dołączyć albo o różnych innych informacjach to kliknij <a href="{% url 'additional-info' %}" class="block-warning">tutaj</a>.</p>
            </div>
        </div>
    {% endblock %}
    